@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[62.5%];
  }
  body {
    @apply text-[1.6rem];
  }
  hr {
    @apply my-[3.2rem] w-full border-t border-solid border-grayscale-300;
  }
}

@layer utilities {
  .heading_1 {
    @apply text-[6rem] leading-[7.2rem] tracking-[-0.016rem];
  }
  .heading_2 {
    @apply text-[4.8rem] leading-[5.7rem];
  }
  .heading_3 {
    @apply text-[3.6rem] leading-[4rem];
  }
  .heading_4 {
    @apply text-[3rem] leading-[3.6rem];
  }
  .body_1 {
    @apply text-[2.4rem] leading-[3.2rem];
  }
  .body_2 {
    @apply text-[2rem] leading-[2.8rem];
  }
  .body_3 {
    @apply text-[1.8rem] leading-[2.8rem];
  }
  .body_4 {
    @apply text-[1.6rem] leading-[2.4rem];
  }
  .body_5 {
    @apply text-[1.4rem] leading-[2rem];
  }
  .body_6 {
    @apply text-[1.3rem] leading-[1.8rem];
  }
  .caption {
    @apply text-[1.2rem] leading-[1.6rem];
  }
  .flex_row {
    @apply flex flex-row items-center;
  }
  .flex_col {
    @apply flex flex-col items-center;
  }
  .flex_row_center {
    @apply flex flex-row items-center justify-center;
  }
  .flex_row_col {
    @apply flex flex-col items-center justify-center;
  }
  .flex_col_center {
    @apply flex flex-col items-center  justify-center
  }
  .auth_form_layout {
    @apply flex flex-col gap-[1.6rem]
  }
}

/* 스크롤바 숨기기 유틸리티 클래스 */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* scrollbar style custom css  */
.scrollbar_style::-webkit-scrollbar {
  @apply w-[0.6rem]
}
.scrollbar_style::-webkit-scrollbar-thumb {
  @apply bg-grayscale-300 rounded-[1rem] min-h-[5rem]
}

/* tag select css */
.basic-multi-select .tag__control{
  @apply min-h-[2.4rem] px-[1.6rem] py-[1.1rem] rounded-[0.5rem] border-grayscale-300 cursor-pointer
}
.basic-multi-select .tag__control:focus{
  @apply border-blue-500 outline-blue-500 cursor-pointer
}

.basic-multi-select .tag__control:hover{
  @apply border-grayscale-300 shadow-none 
}

.basic-multi-select .tag__control.tag__control--is-focused{
  @apply border-blue-500 shadow-none outline-blue-500
}

.basic-multi-select .tag__control.tag__control.tag__control--menu-is-open{
  @apply border-blue-500 outline-blue-500
}

.basic-multi-select .tag__placeholder{
  @apply text-grayscale-400 body_4
}

.basic-multi-select .tag__value-container{
  @apply p-[0]
}

.basic-multi-select .tag__menu{
  @apply shadow-none border border-grayscale-300
}

.basic-multi-select .tag__option  {
  @apply cursor-pointer;
}

.basic-multi-select .tag__multi-value{
  @apply bg-transparent
}

.basic-multi-select .tag__multi-value__label {
  @apply text-grayscale-900 body_4
}


.basic-multi-select .tag__multi-value__remove {
  @apply w-[3rem] rounded-[100%] flex items-center justify-center
}


@keyframes fadeInUp {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

/* input auto bg css reset */
input:-webkit-autofill,
input:-webkit-autofill:disabled,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:disabled,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
}