@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[62.5%];
  }
  body {
    @apply text-[1.6rem];
  }
  hr {
    @apply my-[3.2rem] w-full border-t border-solid border-grayscale-300;
  }
}

@layer utilities {
  .heading_1 {
    @apply text-[6rem] leading-[7.2rem] tracking-[-0.016rem];
  }
  .heading_2 {
    @apply text-[4.8rem] leading-[5.7rem];
  }
  .heading_3 {
    @apply text-[3.6rem] leading-[4rem];
  }
  .heading_4 {
    @apply text-[3rem] leading-[3.6rem];
  }
  .body_1 {
    @apply text-[2.4rem] leading-[3.2rem];
  }
  .body_2 {
    @apply text-[2rem] leading-[2.8rem];
  }
  .body_3 {
    @apply text-[1.8rem] leading-[2.8rem];
  }
  .body_4 {
    @apply text-[1.6rem] leading-[2.4rem];
  }
  .body_5 {
    @apply text-[1.4rem] leading-[2rem];
  }
  .body_6 {
    @apply text-[1.3rem] leading-[1.8rem];
  }
  .caption {
    @apply text-[1.2rem] leading-[1.6rem];
  }
  .flex_row {
    @apply flex flex-row items-center;
  }
  .flex_col {
    @apply flex flex-col items-center;
  }
  .flex_row_center {
    @apply flex flex-row items-center justify-center;
  }
  .flex_row_col {
    @apply flex flex-col items-center justify-center;
  }
}

/* 스크롤바 숨기기 유틸리티 클래스 */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
